{% extends 'base.html' %}

{% block title %}Hapus Laporan{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'report_list' %}">Reports</a>
        </li>
        <li class="breadcrumb-item active">
            Delete Reports
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card mx-auto text-center" style="max-width:600px;">
    <div class="card-body">

        <h2 class="text-danger">⚠ Konfirmasi Hapus</h2>

        <p class="mt-3">
            Apakah kamu yakin ingin menghapus laporan:
        </p>

        <h5 class="mb-4"><b>{{ report.title }}</b></h5>

        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">
                🗑 Ya, Hapus
            </button>
            <a href="{% url 'report_list' %}" class="btn btn-secondary ms-2">
                Batal
            </a>
        </form>

    </div>
</div>
{% endblock %}